<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="logotype m-0 pt-4">Andre Kuzmicheff</h2>
      <p class="tagline m-0 p-0">Focused on one thing at a time</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <img class="img-fluid" src="./assets/images/placeholder.png" alt="placeholder image">
    </div>
  </div>
  <div class="row pt-4">
    <div class="col-md-6 col-lg-4">
      <h2>Profile</h2>
      <table class="table">
        <tr class="row">
          <td class="col-3">Name:</td>
          <td class="col-9">Andre Kuzmicheff</td>
        </tr>
        <tr class="row">
          <td class="col-3">Occupation:</td>
          <td class="col-9">Designer, developer</td>
        </tr>
        <tr class="row">
          <td class="col-3">Location:</td>
          <td class="col-9">Madison, WI</td>
        </tr>
        <tr class="row">
          <td class="col-3">Resume:</td>
          <td class="col-9"><a href="./assets/files/resume.pdf" target="blank" title="View resume">resume.pdf</a></td>
        </tr>
      </table>
    </div>
    <div class="col-md-6 col-lg-4">
      <h2>Contacts</h2>
      <table class="table">
        <tr class="row">
          <td class="col-3">Email:</td>
          <td class="col-9"><a href="mailto:kuzmicheff@gmail.com?subject=Message%20to%20Andre%20Kuzmicheff" title="Send email">kuzmicheff@gmail.com</a></td>
        </tr>
        <tr class="row">
          <td class="col-3">LinkedIn:</td>
          <td class="col-9"><a href="https://linkedin.com/in/kuzmicheff" title="Connect on LinkedIn">https://linkedin.com/in/kuzmicheff</a></td>
        </tr>
        <tr class="row">
          <td class="col-3">Twitter:</td>
          <td class="col-9"><a href="https://twitter.com/kuzmicheff" title="Follow on Twitter">https://twitter.com/kuzmicheff</a></td>
        </tr>
        <tr class="row">
          <td class="col-3">GitHub:</td>
          <td class="col-9"><a href="https://github.com/kuzmicheff" title="Follow on GitHub">https://github.com/kuzmicheff</a></td>
        </tr>
      </table>
    </div>
    <div class="col-md-12 col-lg-4">
      <h2>Projects</h2>
      <table class="table">
        <tr class="row">
          <td class="col-3">2017:</td>
          <td class="col-9"><a href="http://cleaningbees.com" title="Cleaning Bees">Cleaning Bees</a></td>
        </tr>
        <tr class="row">
          <td class="col-3">2017:</td>
          <td class="col-9"><a href="http://devcodecamp.org/the-milwaukee-swap-2" title="The Milwaukee Swap: Phase 2">The Milwaukee Swap: Phase 2</a></td>
        </tr>
        <tr class="row">
          <td class="col-3">2017:</td>
          <td class="col-9"><a href="http://devcodecamp.org/the-milwaukee-swap" title="The Milwaukee Swap: Phase 1">The Milwaukee Swap: Phase 1</a></td>
        </tr>
        <tr class="row">
          <td class="col-3">2015:</td>
          <td class="col-9"><a href="https://tcnl.labs.wisc.edu" title="UW–Madison TCNL">UW–Madison TCNL</a></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row pt-4">
    <div class="col-12">
      <p class="footer">&copy;2017 Andre Kuzmicheff</p>
    </div>
  </div>
</div>
